//
   Created by asus on 2017/9/1.
include var/index
include component/p

doctype html
html
  body
    h1= TITLE
    +p('ee')
    p Welcome to my super lame site.
    p #{AA}'s Pug source code!
    p #{CC}'s Pug source code!
